body {
    height: 100px;
    width: 100%;
    background-color: darkolivegreen;
        background-image: url(/img/piraat-bg.webp);
    background-size: cover;
    background-repeat: no-repeat;
}


.header {
    background-color: rgba(177, 222, 135, 0.1);
    width: 1024px;
    height: 20px;
}

.heading {
    text-align: center;
}

.navbar__list {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    ;
}

.navbar__list_item {
list-style-type: none;
}

/* .main  {
} */
/* 
.maintext {
} */